<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>André N. Klingsheim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    @if (!Request.Url.Host.Equals("www.klings.org"))
    {
        <meta name="robots" content="noindex, follow" />
    }
</head>
    <body>
         <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
        <h1>Hello world!</h1>

        <script src="Scripts/jquery-1.9.1.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>
    </body>
</html>
