@model dynamic

<h2>Projects</h2>
        <p>
            I have a couple of projects "on the side." I see regular downloads in the projects' statistics, so it might well be that someone
            find them useful. Have a look!
        </p>
        <div class="row-fluid">
            <div class="span4">
                <h2>NWebsec</h2>
                <p>
                    NWebsec is a security library for ASP.NET applications. It can help you set security headers in HTTP responses,
                    suppress version headers, and control cache headers. NWebsec is available through NuGet — you'll quickly
                    have it up and running. Consult the project website to learn the nitty gritty details.
                </p>
                <p><a href="http://nwebsec.codeplex.com">NWebsec on codeplex</a></p>
            </div>
            <div class="span4">
                <h2>Transformtool</h2>
                <p>
                    TransformTool is an encoding multitool. It lets you easily apply a series of encoding operations to an input. There are
                    many possibilities — ranging from all character sets supported in the .NET framework to common application level encodings
                    such as HTML, URL, and Base64 encoding. The tools also supports common hash and crypto algorithms.
                </p>
                <p><a href="http://transformtool.codeplex.com">TransformTool on codeplex</a></p>
            </div>
            <div class="span4">
                <h2>Github</h2>
                <p>
                    I also have a GitHub account, where I keep various projects that are somewhat short lived. E.g. applications used for demos
                    during a talk usually live here.
                </p>
                <p><a href="https://github.com/klings">My GitHub repos</a></p>
            </div>
        </div>