@model dynamic

<h2>Research</h2>
<p>
    A few years back I was part of a research group at the University of Bergen: <a href="http://www.nowires.org">NoWires research group</a>.
            My research papers are accounted for here.
</p>
<p>
    My PhD thesis is available for <a href="http://sdrv.ms/16Tr6ME" onclick="javascript: pageTracker._trackPageview('/downloads/PhDThesis');">download</a> (it includes all papers below).<br />
    My Master's thesis was titled &ldquo;<a href="http://sdrv.ms/11D0nUq" onclick="javascript: pageTracker._trackPageview('/downloads/J2MEBT');">J2ME Bluetooth programming</a>.
</p>
<h3>Published papers</h3>
<p>
    K. J. Hole, A. N. Klingsheim, L.-H. Netland, Y. Espelid, T. Tjøstheim, and V. Moen, &ldquo;<a href="http://sdrv.ms/16Trb2U" onclick="javascript: pageTracker._trackPageview('/downloads/RiskAssessment');">Risk Assessment of a National Security Infrastructure</a>,&rdquo; <a href="http://www.computer.org/security/">IEEE Security &amp; Privacy</a>, January/February 2009. <span style="color: red">(See Copyright notice below.)</span><br />
    <br />

    Y. Espelid, L.-H. Netland, A. N. Klingsheim, and K. J. Hole, &ldquo;<a href="http://sdrv.ms/YsYwkB" onclick="javascript: pageTracker._trackPageview('/downloads/RobbingBanks');">Robbing Banks with Their Own Software&mdash;an Exploit against Norwegian Online Banks</a>,&rdquo; in Proc. <a href="http://sec2008.dti.unimi.it/">IFIP International Information Security Conference (SEC 2008), September, 2008</a>.
    <br />
    <br />

    K. J. Hole, L.-H. Netland, Y. Espelid, A. N. Klingsheim, H. Helleseth, and J. B. Henriksen, &ldquo;<a href="http://sdrv.ms/11CBcO4" onclick="javascript: pageTracker._trackPageview('/downloads/OpenNet');">Open Wireless Networks on University Campuses</a>,&rdquo; <a href="http://www.computer.org/security/">IEEE Security &amp; Privacy</a>, July/August 2008. <span style="color: red">(See Copyright notice below.)</span>
    <br />
    <br />

    K. J. Hole, T. Tjøstheim, V. Moen, L.-H. Netland, Y. Espelid, and A. N. Klingsheim, &ldquo;<a href="http://sdrv.ms/11CBpAI" onclick="javascript: pageTracker._trackPageview('/downloads/BankIDTechRep');">Next Generation Internet Banking in Norway</a>,&rdquo; Technical Report 371, Department of Informatics, University of Bergen, February 2008.<br />
    <br />

    A. N. Klingsheim and K. J. Hole, &ldquo;<a href="http://sdrv.ms/11D1GCZ" onclick="javascript: pageTracker._trackPageview('/downloads/IDTheftTechRep');">Personal Information Leakage: A study of Online Systems in Norway</a>,&rdquo; Technical Report 370, Department of Informatics, University of Bergen, February 2008.
    <br />
    <br />

    Y. Espelid, L.-H. Netland, A. N. Klingsheim, and K. J. Hole, &ldquo;<a href="http://sdrv.ms/11CZLhz" onclick="javascript: pageTracker._trackPageview('/downloads/MitMFC');">A Proof of Concept Attack against Norwegian Internet Banking Systems</a>,&rdquo; in Proc. <a href="http://fc08.ifca.ai/">Financial Cryptography and Data Security</a>, January, 2008. <span style="color: red">&copy;</span> <a href="http://www.springer.com/comp/lncs/index.html" style="color: red">IFCA</a><br />
    <br />

    A. N. Klingsheim and K. J. Hole, &ldquo;<a href="http://sdrv.ms/11CZLhz" onclick="javascript: pageTracker._trackPageview('/downloads/IDTheftFC');">Identity Theft: Much too Easy? A study of Online Systems in Norway</a>,&rdquo; in Proc. <a href="http://fc08.ifca.ai/">Financial Cryptography and Data Security</a>, January, 2008. <span style="color: red">&copy;</span> <a href="http://www.springer.com/comp/lncs/index.html" style="color: red">IFCA</a><br />
    <br />

    K. J. Hole, V. Moen, A. N. Klingsheim, and K. M. Tande, &ldquo;<a href="http://sdrv.ms/13qqfnC" onclick="javascript: pageTracker._trackPageview('/downloads/ATMPaper');">Lessons from the Norwegian ATM System</a>,&rdquo; <a href="http://www.computer.org/security/">IEEE Security &amp; Privacy</a>, November/December 2007. <span style="color: red">(See Copyright notice below.)</span><br />
    <br />

    A. N. Klingsheim, V. Moen, and K. J. Hole, &ldquo;<a href="http://sdrv.ms/X7DIhx" onclick="javascript: pageTracker._trackPageview('/downloads/J2MEPaper');">Challenges in Securing Networked J2ME Applications</a>,&rdquo; <a href="http://www.computer.org/computer/">IEEE Computer</a>, February 2007. <span style="color: red">(See Copyright notice below.)</span><br />
    <br />

    V. Moen, A. N. Klingsheim, K. I. F. Simonsen, and K. J. Hole, &ldquo;<a href="http://sdrv.ms/11D0fEx" onclick="javascript: pageTracker._trackPageview('/downloads/eGov');">Vulnerabilities in E-Governments</a>,&rdquo; in Proc. 2<sup>nd</sup> International Conference on Global E-Security (ICGeS-06), London, England, April 20-22, 2006. The paper is also printed in <a href="http://www.inderscience.com/ijesdf/">International Journal of Electronic Security and Digital Forensics</a>, Vol. 1, No. 1, 2007.<br />
</p>
<div class="well">
    <h3>Copyright notice</h3>
    <p>
        &copy; 2007, 2008, 2009 IEEE. Personal use of this material is permitted. Permission from IEEE must be obtained for all other uses, including reprinting/republishing this material for advertising or promotional purposes, creating new collective works for resale or redistribution to servers or lists, or reuse of any copyrighted component of this work in other works.
    </p>
</div>
