@model dynamic

<div>
    <h2>Talks</h2>
    <p>
        Every now and then I give a talk.  I'll keep track of them here, with links to slides and/or video.
    </p>
    <table class="table table-striped">
        <tr>
            <th>When</th>
            <th>What</th>
            <th>Where</th>
            <th>Slides/video</th>
        </tr>
        <tr>
            <td>29. May 2013</td>
            <td>"Gratis" sikkerhet gjennom HTTP headere</td>
            <td><a href="http://www.meetup.com/NNUG-Bergen/events/117793962/">NNUG Bergen</a></td>
            <td></td>
        </tr>
        <tr>
            <td>14. March 2013</td>
            <td>Securing your web application through HTTP headers</td>
            <td><a href="http://boosterconf.no/">Booster</a></td>
            <td><a href="http://www.slideshare.net/klingsen/securing-your-web-application-through-http-headers">slides</a></td>
        </tr>
        <tr>
            <td>27. April 2012</td>
            <td>Getting authentication right</td>
            <td><a href="http://rootsconf.no/program">Roots '12</a></td>
            <td><a href="http://www.slideshare.net/klingsen/getting-authentication-right">slides</a>
            </td>
        </tr>
        <tr>
            <td>23. May 2011</td>
            <td>The browser - your best friend and worst enemy</td>
            <td>Roots '11</td>
            <td><a href="http://www.slideshare.net/klingsen/browser-security-roots">slides</a> /
                <a href="http://vimeo.com/24688014">video</a>
            </td>
        </tr>
        <tr>
            <td>2. May 2011</td>
            <td>Online banking Trojans - recent developments and countermeasures</td>
            <td><a href="http://www.dataforeningen.no/">Norwegian Computer Society, ISACA, ISF member meeting</a></td>
            <td><a href="http://www.slideshare.net/klingsen/110502-dnd-isacaisfonlinebankingtrojans">slides</a></td>
        </tr>
        <tr>
            <td>28. Jan. 2009</td>
            <td>Er du til salgs? ID-tyveri og Internett</td>
            <td>Eureka conference</td>
            <td></td>
        </tr>
        <tr>
            <td>11. Dec. 2008</td>
            <td>Security Risk Management</td>
            <td>OWASP Netherlands (Amsterdam)</td>
            <td></td>
        </tr>
        <tr>
            <td>29. Apr. 2008</td>
            <td>Architectural Risk Analysis</td>
            <td>Roots '08</td>
            <td></td>
        </tr>
        <tr>
            <td>31. Jan. 2008</td>
            <td>Identity Theft: Much too Easy? A study of Online Systems in Norway</td>
            <td><a href="http://fc08.ifca.ai/">Financial Cryptography and Data Security '08</a></td>
            <td></td>
        </tr>
        <tr>
            <td>19. Nov. 2007</td>
            <td>Your Privacy on the Internet</td>
            <td><a href="http://selmer.uib.no/NKS2007/">Norsk kryptoseminar</a></td>
            <td></td>
        </tr>
        <tr>
            <td>16. Oct. 2007</td>
            <td>Kampen mot IT-skurkene</td>
            <td>Information Week, UiB</td>
            <td></td>
        </tr>
        <tr>
            <td>12. Oct. 2007</td>
            <td>Identity Theft: Much too Easy? A study of Online Systems in Norway</td>
            <td>NordSec '07</td>
            <td></td>
        </tr>
        <tr>
            <td>19. Nov. 2007</td>
            <td>NBNs, the Internet, and your Privacy</td>
            <td>ICT Research School, UiB</td>
            <td></td>
        </tr>
        <tr>
            <td>18. May 2006</td>
            <td>J2ME, JABWT, and SATSA</td>
            <td><a href="http://www.java.no/">JavaBin Bergen</a></td>
            <td></td>
        </tr>
        <tr>
            <td>20. Apr. 2006</td>
            <td>Vulnerabilities in E-Governments</td>
            <td>2<sup>nd</sup> International Conference on Global E-Security (ICGeS-06)</td>
            <td></td>
        </tr>
    </table>
</div>
